############################
# Maven & Build Artifacts
############################
target/
*.jar
*.war
*.ear
*.class

############################
# Logs & Reports
############################
*.log

allure-results/
allure-report/

screenshots/
*.png

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# IDE Settings
############################
# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

############################
# Java
############################
*.ser

############################
# Dependencies (should not commit)
############################
node_modules/

############################
# Environment & Secrets
############################
*.env
*.env.*


############################
# Temporary Files
############################
*.tmp
*.swp
*.bak
*.orig