<suite name="All Tests">
    <test name="UI Test Suite">
        <classes>
            <class name="com.insureedge.tests.AccessibilityCreateAccountFormTest"/>
            <class name="com.insureedge.tests.AdminDashboardAccessibilityTest"/>
            <class name="com.insureedge.tests.UserProfileAccessibilityTest"/>   <!-- NEW TEST -->
        </classes>
    </test>
</suite>